{{define "main"}}

{{ partial "page-header.html" . }}

<section>
  <div class="container">
    <div class="row g-5 justify-content-center">
      {{ with .Params.contact }}
      <div class="col-lg-5 col-md-10 {{ if site.Params.contact_form.enable }}ms-lg-auto me-lg-0 me-auto{{else}}mx-auto text-center{{end}}">
        <div class="mb-5">
          <h2 class="h3 mb-3">{{.title | markdownify}}</h2>
          <p class="mb-0">{{.content | markdownify}}</p>
        </div>
        <div>
          <h2 class="h4 mb-3">{{.contact_info_title | markdownify}}</h2>
          <p class="mb-2 content"><i class="ti ti-mail-forward me-2 d-inline-block mb-0" style="transform:translateY(2px)"></i> {{.email_address | markdownify }}</p>
          <p class="mb-0 content"><i class="ti ti-phone me-2"></i> {{.phone_number | markdownify }}</p>
        </div>
      </div>
      {{ end }}

      {{ with site.Params.contact_form }}
      {{ if .enable }}
      <div class="col-lg-5 me-lg-auto ms-lg-0 ms-auto">
        <h2 class="h3 mb-4">Contact form</h2>

        <form class="row g-4" action="{{.contact_form_action}}" method="post">
          <div class="col-md-12">
            <textarea class="form-control" placeholder="Ask question or just say Hi" rows="4" name="message" required></textarea>
          </div>
          <div class="col-md-12">
            <input type="email" class="form-control" placeholder="Email address" name="email" required>
          </div>
          <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Your name here" name="name" required>
          </div>

          <div class="col-12">
            <button type="submit" class="btn btn-primary" aria-label="Send Message">Send <i class="ti ti-brand-telegram ms-1"></i></button>
          </div>
        </form>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
